.lista-produtos {
  height: calc(100% - 210px);
	/* cria barra de rolagem p/ ñ ultrapassar altura */
	overflow: auto;
	margin-right: 5px;
	margin-left: 0px;
}

.footer-cart {
  border-top: 2px solid #e7e7e7;
}

.footer-cart-total {
  margin: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-btn-close{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 32px;
	cursor: pointer;
}