@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

html,
body {
  font-family: "Poppins";
  /* Sem barra vertical no final */
  overflow-x: hidden;
  background-color: #fff;
  margin: 0;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.icon{
	max-width: 17px;
	margin-right: 8px;
}